@model AFFILIATES.GB.Models.AffiliateContractServices

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AffiliateContractServices</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AffiliateContract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AffiliateContract.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index"  asp-route-id="@Model.AffiliateContractId">Back to List</a>
</div>
