@model IEnumerable<AFFILIATES.GB.Models.AffiliateContractServices>

@{
    ViewData["Title"] = "Contract Services";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewData["AffiliateContractId"]" class="btn btn-primary">Add new service in contract </a>|
    <a asp-action="Index" class="btn btn-secondary" asp-controller="AffiliateContracts">Go to Home</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Observation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AffiliateContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Observation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AffiliateContract.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Code)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
