@model IEnumerable<AFFILIATES.GB.Models.AffiliateContracts>

@{
    ViewData["Title"] = "Contracts Affiliates";
}

<h1>@ViewData["Title"]</h1>

<p>

    <a asp-action="Create" class="btn btn-primary" asp-controller="Affiliates">1 New Affiliate</a> | 
    <a asp-action="Create" class="btn btn-secondary">2 New Contract</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Affiliate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractStatu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Affiliate.FirtsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractStatu.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Management</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
